$backgroundColor: #F5F5F5;
body{
  background-color: $backgroundColor;
  padding-top:30px;
}
.mainSinglePanel{
    background-color: white;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #e2e2e2;
    padding:24px;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
    margin: 0 0 25px 0;

    .mainSinglePanelHeader{
        background-color: #FEFEFE;
        transition: border 500ms;
        -moz-transitiontransition: border 500ms;
        -webkit-transition: border 500ms;
        padding: 3px 0;
        .fa-plus-circle{
            color:green;
            margin-right:10px;
            float:right;
            font-size:28px;
        }
        h4{
            margin-top: 3px;
            padding-bottom: 12px;
            font-family: "Raleway", Helvetica, sans-serif !important;
            font-weight: 200;
            border-bottom: 1px solid #dadada;
            color: #23527C;
            font-size: 24px;
        }
    }
    .mainSinglePanelBody{
        label{
            float: left;
            margin-right:20px;
            margin-top:5px;
        }
        input, select{
            width:64%;

        }
    }
}
.main{
    padding-top:10px;
    .dataTables_filter{
        float:right;
    }

    .tableWrapper{
        min-height:500px;
    }

    table{
        z-index:99999 !important;
        tr{
            text-align:center;
            td{
                text-align:center;
                vertical-align:middle;
                &:last-child{
                    width:80px;
                    i{
                        font-size:23px;
                    }
                }
            }
        }
        thead{
            tr{
              .sort-btn{
                cursor: pointer;
                display:block;
                  text-align:center;
              }
                color: white;
                background-color: #303946;
                th{
                    cursor:pointer;
                    background-color:#303946;
                    color:white;
                    text-align:center;
                    &:last-child{
                      cursor:auto;
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    text-align:center;
                    vertical-align:middle;
                    &:last-child{
                        width:80px;
                        font-size:23px;
                        i.fa-pencil-square-o{
                            position:relative;
                            top:1px;
                            color:blue;
                        }
                        i.fa-trash-o{
                            color:black;
                            margin-left:10px;
                        }
                        .deleteContact, .editContact{
                          cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    form{
        label{
            width:100%;
        }
        .formMessageWrapper{
          // text-align:center;
          margin-top:10px;
          margin-left:10px;
        }
    }

    .modal{
        .form-group{
            padding-left:5%;
            .contactGroup, .editContactGroup{
                width:55%;
                float:left;
            }
            .groupAlertWrapper, .groupEditAlertWrapper{
                width:100%;
                margin-top:15px;
            }
            .groupAlert{
                width: 28%;
                float: left;
                padding: 8px;
                padding-right: 27px;
                margin-right: 7px;
            }
            i.fa{
                font-size: 20px;
                padding: 7px;
                color: white;
                cursor: pointer;
            }
            i.fa-plus{
                background-color: green;
            }
            i.fa-ban{
                background-color: darkred;
            }

        }
        .form-control{
            width:75%;
        }
    }
}
