<!DOCTYPE html>
<html>
  <head>
    <title>Technical challenge</title>
    <meta charset="utf-8">
    {% block stylesheets %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css">
      <link rel="stylesheet" href="{{ asset('bundles/contacts/css/css-compiled/style.css')}}" type="text/css">
    {% endblock %}
  </head>
  <body>

    {% block main %}{% endblock %}

    {% block javascript %}
      <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
      <script src="{{ asset('bundles/contacts/js/js-compiled/app.js')}}"></script>
    {% endblock %}

  </body>
</html>
