body {
  background-color: #F5F5F5;
  padding-top: 30px; }

.mainSinglePanel {
  background-color: white;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #e2e2e2;
  padding: 24px;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
  margin: 0 0 25px 0; }
  .mainSinglePanel .mainSinglePanelHeader {
    background-color: #FEFEFE;
    transition: border 500ms;
    -moz-transitiontransition: border 500ms;
    -webkit-transition: border 500ms;
    padding: 3px 0; }
    .mainSinglePanel .mainSinglePanelHeader .fa-plus-circle {
      color: green;
      margin-right: 10px;
      float: right;
      font-size: 28px; }
    .mainSinglePanel .mainSinglePanelHeader h4 {
      margin-top: 3px;
      padding-bottom: 12px;
      font-family: "Raleway", Helvetica, sans-serif !important;
      font-weight: 200;
      border-bottom: 1px solid #dadada;
      color: #23527C;
      font-size: 24px; }
  .mainSinglePanel .mainSinglePanelBody label {
    float: left;
    margin-right: 20px;
    margin-top: 5px; }
  .mainSinglePanel .mainSinglePanelBody input, .mainSinglePanel .mainSinglePanelBody select {
    width: 64%; }

.main {
  padding-top: 10px; }
  .main .dataTables_filter {
    float: right; }
  .main .tableWrapper {
    min-height: 500px; }
  .main table {
    z-index: 99999 !important; }
    .main table tr {
      text-align: center; }
      .main table tr td {
        text-align: center;
        vertical-align: middle; }
        .main table tr td:last-child {
          width: 80px; }
          .main table tr td:last-child i {
            font-size: 23px; }
    .main table thead tr {
      color: white;
      background-color: #303946; }
      .main table thead tr .sort-btn {
        cursor: pointer;
        display: block;
        text-align: center; }
      .main table thead tr th {
        cursor: pointer;
        background-color: #303946;
        color: white;
        text-align: center; }
        .main table thead tr th:last-child {
          cursor: auto; }
    .main table tbody tr td {
      text-align: center;
      vertical-align: middle; }
      .main table tbody tr td:last-child {
        width: 80px;
        font-size: 23px; }
        .main table tbody tr td:last-child i.fa-pencil-square-o {
          position: relative;
          top: 1px;
          color: blue; }
        .main table tbody tr td:last-child i.fa-trash-o {
          color: black;
          margin-left: 10px; }
        .main table tbody tr td:last-child .deleteContact, .main table tbody tr td:last-child .editContact {
          cursor: pointer; }
  .main form label {
    width: 100%; }
  .main form .formMessageWrapper {
    margin-top: 10px;
    margin-left: 10px; }
  .main .modal .form-group {
    padding-left: 5%; }
    .main .modal .form-group .contactGroup, .main .modal .form-group .editContactGroup {
      width: 55%;
      float: left; }
    .main .modal .form-group .groupAlertWrapper, .main .modal .form-group .groupEditAlertWrapper {
      width: 100%;
      margin-top: 15px; }
    .main .modal .form-group .groupAlert {
      width: 28%;
      float: left;
      padding: 8px;
      padding-right: 27px;
      margin-right: 7px; }
    .main .modal .form-group i.fa {
      font-size: 20px;
      padding: 7px;
      color: white;
      cursor: pointer; }
    .main .modal .form-group i.fa-plus {
      background-color: green; }
    .main .modal .form-group i.fa-ban {
      background-color: darkred; }
  .main .modal .form-control {
    width: 75%; }
