{% extends "ContactsBundle::layout.html.twig" %}

    {% block main %}
        <div class="container main">
            <div class="row">
                <div class="row mainSinglePanel">
                    <div class="col-md-12 mainSinglePanelHeader"><h4>Filters</h4></div>
                    <div class="row mainSinglePanelBody">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="contactGroupFilter">Group:</label>
                                <select name="contactGroup" id="contactGroupFilter" class="form-control ">
                                    <option value="">All </option>
                                    <option value="Default">Default </option>
                                    <option value="School">School </option>
                                    <option value="Work">Work </option>
                                    <option value="Gym">Gym </option>
                                    <option value="Family">Family </option>
                                    <option value="Friends">Friends </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="col-sm-12 mainSinglePanel tableWrapper">
                    <div class="col-md-12 mainSinglePanelHeader"><h4>Contacts<a data-toggle="modal" href="" data-target="#exampleModal" ><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h4>
                    </div>
                    <table  class="table table-bordered contactsTable">
                        <thead>
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                            <td>Surname</td>
                            <td>Email</td>
                            <td>Phone</td>
                            <td>Groups</td>
                            <td>Operations</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contact in contacts %}
                            <tr>
                                <td>{{ contact.id }}</td>
                                <td>{{ contact.name }}</td>
                                <td>{{ contact.surname }}</td>
                                <td>{{ contact.email }}</td>
                                <td>{{ contact.phone }}</td>
                                <td>{{ contact.groups }}</td>
                                <td><a ><i data-id="{{ contact.id }}" class="fa fa-pencil-square-o editContact" aria-hidden="true"></i></a><a><i class="fa fa-trash-o deleteContact" data-id="{{ contact.id }}" aria-hidden="true"></i></a></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

                <div id="confirm" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Confirm Box</h4>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete Contact ?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary deleteContactConfirm" data-dismiss="modal">Confirm</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal --


                <!-- Modal adding contact-->
                <div class="modal fade addCategoryModal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="col-md-12 mainSinglePanelHeader"><h4>Add Contact</h4></div>
                            </div>
                            <div class="modal-body">
                                <form name="addContactForm" class="form-horizontal" novalidate>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <label for="contactName" class=" control-label">Name: </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input name="contactName" id="contactName" placeholder="name" class="form-control contactName name" type="text">
                                            <div class="formMessageWrapper">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <label for="contactSurName" class=" control-label">Surname: </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input name="contactSurName" id="contactSurName" placeholder="surname" class="form-control contactSurName surname" type="text">
                                            <div class="formMessageWrapper">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <label for="contactEmail" class="control-label">Email: </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input name="contactEmail" placeholder="example@example.com" id="contactEmail" class="form-control contactEmail email" type="text">
                                            <div class="formMessageWrapper">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <label for="contactPhone" class=" control-label">Phone: </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input name="contactPhone" placeholder="48660260323" id="contactPhone" class="form-control contactPhone phone" type="text">
                                            <div class="formMessageWrapper">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <label for="contactGroup" class="control-label">Group: </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <select name="contactGroup" id="contactGroup" class="form-control contactGroup">
                                                <option value="0">No Custom Group(Default) </option>
                                                <option value="School">School </option>
                                                <option value="Work">Work </option>
                                                <option value="Gym">Gym </option>
                                                <option value="Family">Family </option>
                                                <option value="Friends">Friends </option>
                                            </select><span><i class="fa fa-plus addGroup" aria-hidden="true"></i></span>
                                                <div class="groupAlertWrapper"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button  type="button" class="btn btn-primary addCategorySubmit">Add Contact</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal editing contact-->
                <div class="modal fade editCategoryModal" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="col-md-12 mainSinglePanelHeader"><h4>Edit Contact</h4></div>
                            </div>
                            <div class="modal-body">
                                <form name="addContactForm" class="form-horizontal" novalidate>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <label for="contactName" class=" control-label">Name: </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input name="contactName" id="contactName" placeholder="name" class="form-control editContactName name" type="text">
                                            <div class="formMessageWrapper">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <label for="contactSurName" class=" control-label">Surname: </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input name="contactSurName" id="contactSurName" placeholder="surname" class="form-control editContactSurName surname" type="text">
                                            <div class="formMessageWrapper">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <label for="contactEmail" class="control-label">Email: </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input name="contactEmail" placeholder="example@example.com" id="contactEmail" class="form-control editContactEmail email" type="text">
                                            <div class="formMessageWrapper">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <label for="contactPhone" class=" control-label">Phone: </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input name="contactPhone" placeholder="48660260323" id="contactPhone" class="form-control editContactPhone phone" type="text">
                                            <div class="formMessageWrapper">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <label for="contactGroup" class="control-label">Group: </label>
                                        </div>
                                        <div class="col-sm-10">
                                            <select name="contactGroup" id="contactGroup" class="form-control editContactGroup">
                                                <option value="0">No Custom Group(Default) </option>
                                                <option value="School">School </option>
                                                <option value="Work">Work </option>
                                                <option value="Gym">Gym </option>
                                                <option value="Family">Family </option>
                                                <option value="Friends">Friends </option>
                                                </select><span><i class="fa fa-ban addEditGroup" aria-hidden="true"></i></span>
                                                <div class="groupEditAlertWrapper"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button  type="button" class="btn btn-primary editCategorySubmit">Save Contact</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
